Code/
Typora
alacritty/
brave-flags.conf
btop/
chromium-flags.conf
chromium/
dconf/
environment.d/
fastfetch/
fcitx/
fcitx5/
fontconfig/
ghostty/
hypr/
ibus/
kitty/
lazydocker/
lazygit/
mako/
mimeapps.list
mise/
nvim/
omarchy.ttf
omarchy/
pulse/
qalculate/
starship.toml
swayosd/
systemd/
user-dirs.dirs
user-dirs.locale
uwsm/
walker/
waybar/
xournalpp/
1Password/
BraveSoftware/
Signal/
argocd/
elephant/
eza/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
helm/
k9s/
microsoft-edge-dev/
mozilla/
obs-studio/
obsidian/
vivaldi-snapshot/
vivaldi/
