Code/
Typora
alacritty/
brave-flags.conf
btop/
chromium-flags.conf
chromium/
dconf/
environment.d/
fastfetch/
fcitx/
fcitx5/
fontconfig/
ghostty/
hypr/
ibus/
kitty/
lazydocker/
lazygit/
mako/
mimeapps.list
mise/
nvim/
omarchy.ttf
omarchy/
pulse/
qalculate/
starship.toml
swayosd/
systemd/
user-dirs.dirs
user-dirs.locale
uwsm/
walker/
waybar/
xournalpp/
